<table class="table itemtable">
	<tr>
		<td><h3>
		        <button class="btn" ng-click="addFiles()">Add from dump</button>
				All Files - <span ng-bind="files.length"></span>
			</h3></td>
		<td> Filter: <input ng-model="filterParam"/></td>
	</tr>
	<tr ng-repeat="file in files | filter:filterParam">
		<td>{{file.name}}</td>
		<td>{{file.size / 1024 /1024 | number : 2}} Mb</td>
		<td>{{file.path}}</td>
		<td>{{file.createdDate | date:'yyyy-MM-dd HH:mm'}}</td>
		<td><a class="btn btn-primary" ui-sref="viewItem('{{file.path}}')">Duplicates</a>
		</td>
	</tr>
</table>